<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="album.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spootify Artist Page</title>
    <!--
    Top Bar
    -->
</head>
<body>
    <div id="topnav">
        <ul id="navbar">
          <li class="navitem">Spoofify</li>
          <input
            class="navitem"
            id="search"
            type="text"
            placeholder="Search..."
            name=""
          />
          <li class="navitem" id="login">Login</li>
          <li class="navitem" id="signup">Sign Up</li>
        </ul>
    </div>    
    <div>
        <!--
        Artist Name / Album Name
        -->
        <h1>Yung Gravy, Sensational</h1>
    </div>
        <!-- 
        Album Cover
        -->
        <img class="sen" src="Juice.jpg" alt="Album_Cover"
        
      /></a>
  <fieldset>
    <legend>22 songs, 58 min 48 sec</legend>  
    <ul>
      <li>Anxiety - Intro</li>
      <li>Conversations</li>
      <li>Titanic</li>
      <li>Bad Energy</li>
      <li>Righteous</li>
      <li>Blood On My Jeans</li>
      <li>Smile (with The Weekend)</li>
      <li>Tell Me U Luv Me (With Trippie Redd)</li>
      <li>Hate The Other Side (With Marshmello & The Kid Laroi)</li>
      <li>Get Through It -Interlude</li>
      <li>Life's A Mess (feat. Halsey)</li>
      <li>Come & Go (with Marshmello)</li>
      <li>I Want It</li>
      <li>Fighting Deamons</li>
      <li>Wishing Well</li>
      <li>Screw Juice</li>
      <li>Up Up And Away</li>
      <li>The Man, The Myth, The Legend-Interlude</li>
      <li>Stay High</li>
      <li>Can't Die</li>
      <li>Man Of The Year</li>
      <li>Jice WRLD Speaks From Heaven - Outro</li>
    </ul>
  </fieldset>
  <div class="bottomgroup">
    <div class="leftcontrols">
      <div class="prevbutton">
        <a ng-click="prev()"><img src="images/btn-prev.png" /></a>
      </div>

      <div class="playbutton">
        <a ng-click="resume()" ng-hide="playing"><img src="images/btn-play.png" /></a>
        <a ng-click="pause()" ng-show="playing"><img src="images/btn-pause.png" /></a>
      </div>

      <div class="nextbutton">
        <a ng-click="next()"><img src="images/btn-next.png" /></a>
      </div>

      <div class="volume">
        <input type="range" ng-change="changevolume()" min="0" max="100" ng-model="volume" />
      </div>
    </div>
    <div class="seekcontrols">
      <div class="progress">{{ progress | displaytime }}</div>
      <div class="duration">{{ duration | displaytime }}</div>
      <div class="slider">
        <input type="range" ng-model="progress" ng-change="changeprogress()" min="0" max="{{duration}}" />
      </div>
    </div>
    <div class="rightcontrols">
      <!--
      a ng-click="shuffle()">SHUF</a>
      a ng-click="repeat()">REP.</a>
      -->
    </div>
      




</body>
</html>